.projectsCard {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 136px;
    position: relative;
    margin: 0px 0px 400px 0px;

    svg {
        color: $fontColor;
        transition: all 0.3s ease;
    }

    svg:hover {
        color: $themeColor
    }
}

.featured_text {
    color: $themeColor;
    font-size: 13px;
    font-family: monospace;
}

.projectsCard_text {
    width: 63%;
    position: absolute;
    margin-right: 150px;
    z-index: 2;
}

.projects_name {
    color: $fontColor;
    font-size: 32px;
    font-family: Calibri;
    font-weight: 800;
}

.projectsCard_description {
    font-size: 18px;
    font-family: Calibri;
    color: #8892b0;
    background: rgba(23, 42, 69, 0.8);
    width: 55%;
    padding: 15px 12px;
    margin: 20px 0px 20px 0px;
    z-index: 2;
}

.projectsCard_techs {
    font-size: 13px;
    font-family: monospace;
    color: #a8b2d1;
    width: 46%;
}

img.project_img {
    width: 39%;
    height: auto;
    position: absolute;
    margin-top: 56px;
    margin-left: 172px;
    z-index: -1;
    object-fit: cover;
}



@media screen and (max-width:1000px) and (min-width:741px) {
    .projectsCard_description {
        width: 73%;
    }

    .projectsCard_techs {
        width: 57%;
    }

    img.project_img {
        margin-top: 108px;
        height: 200px;
        width: 49%;
    }
}



@media screen and (max-width: 741px) {

    .projectsCard {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: fit-content;
        min-height: fit-content;
        margin: 60px 0px;
    }

    img.project_img {
        width: 100%;
        position: relative;
        margin: 0;
        object-fit: cover;
        z-index: 1;
        opacity: 0.2;
    }


    .projectsCard_text {
        width: -webkit-fill-available;
        position: absolute;
        z-index: 2;
        padding: 29px;
        margin: 0px;
    }

    .projectsCard_description {
        background-color: transparent;
        margin: 0%;
        width: -webkit-fill-available;
        padding: 0px;
    }

    .projectsCard_techs {
        width: -webkit-fill-available;
    }

}


@media screen and (max-width:491px) {
    .projectsCard {
        margin: 100px 0px;
    }

    .projectsCard_description {
        font-size: 15px;
    }

    .projectsCard_description {
        font-size: 15px;
    }

    .projects_name {
        font-size: 26px;
    }
}