
footer{
    padding: 0 75px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer span{
    font-size: x-large;
    color: #000;
}

footer p{
    width: 115px;
}

footer button {
    padding: 7px 40px;
    background-color: rgb(255, 116, 66);
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

footer button:hover {
    background-color: rgb(255, 89, 29);
}

footer img{
    width: 34px;
}

footer input{
    width: 200px;
    margin-top: 20px;
}

.copy{
    margin-top: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copy p{
    width: 500px;
}