* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


main {
    min-height: calc(100vh - (47px + 85px));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    min-height: 100vh;
    background: url(../Assets/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/* --------------- SCROLL BAR  -------------------- */

::-webkit-scrollbar {
    display: none;
}




/* --------------- CALCULATOR  -------------------- */

.calculator {
    position: relative;
    /* // Glass morphism */
    background: rgba(225, 225, 225, 0.2);
    box-shadow: 0 4px 30px rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 80%;
    min-height: 450px;
    margin: 20px 0px;
    border-radius: 11px;
    padding: 12px 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


/* --------------- SCREEN  -------------------- */


.screen {
    background: black;
    justify-content: end;
    color: white;
    width: 90%;
    margin: 15px auto;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 30px;
}

button.copy-btn {
    border: 0;
    background-color: transparent;
    position: relative;
    top: 47px;
    left: 91%;
}


/* --------------- BTNS  -------------------- */


button.fun-btn {
    background: #adb5bd;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    width: 95px;
    height: 54px;
    transition: all 0.2s ease-in-out;
}


button.no-btn {
    background: #dee2e6;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    width: 95px;
    height: 54px;
    transition: all 0.2s ease-in-out;
}


/* -------------- HOVER ----------------- */



button.fun-btn:hover {
    background: #c0c9d1bf;
}


button.no-btn:hover {
    background: #c0c3c5;
}

/* -------------- SUPER SCRIPT ----------------- */

.superSCript:after {
    font-size: 50%;
    vertical-align: top;
    content: "y";
}



/* --------------- Media queries  -------------------- */

.small-screenBtns {
    display: none;
}

@media screen and (max-width : 1200px) {
    button.fun-btn {
        width: 75px;
    }

    button.no-btn {
        width: 62px;
    }
}

@media screen and (max-width : 991px) {
    button.fun-btn {
        width: 62px;
    }

    button.no-btn {
        width: 62px;
    }
}


@media screen and (max-width : 771px) {
    .big-screenBtns {
        display: none;
    }

    .small-screenBtns {
        display: block;
    }

    .small-screenBtns button.fun-btn {
        width: 71px;
        height: 54px;
        margin: 7px 0px
    }

    .small-screenBtns button.no-btn {
        width: 72px;
    }
}

@media screen and (max-width : 450px) {
    .calculator{
        width: 95%;
    }

    .small-screenBtns button.fun-btn {
        width: 59px;
    }

    .small-screenBtns button.no-btn {
        width: 59px;
    }

    button.copy-btn {
        left: 86%;
    }
}